@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Intro';
  src: url('./Assets/Font/IntroRegular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Intro';
  src: url('./Assets/Font/Intro-Bold.otf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Intro';
  src: url('./Assets/Font/IntroSemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Intro';
  src: url('./Assets/Font/IntroRegularItalic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

* {
  font-family: 'Intro';
}

ul {
  list-style: none;
  padding-left: 0 !important;
  line-height: 28px;
}

li {
  font-size: 14px;
}

.profile_ul_image {
  list-style-image: url('./Assets/check.svg');
  padding-left: 25px !important;
}

p {
  font-size: 14px
}

.button_space_container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media screen and (max-width: 480px) {

  .button_space_container {
    height: calc(100vh - 30px);
  }

  header {
    display: none !important;
  }

  .desktop_view {
    display: none
  }

  .form_wrapper {
    padding: 0 16px;
  }

  .mobile_frame {
    display: none;
  }

  .color_selection {
    width: 32px;
    height: 32px;
  }

  .home_wrapper {
    padding: 16px;
  }

  .left_arrow {
    display: block;
  }

  .desktop_breadcrumb {
    display: none;
  }

  .mobile_breadcrumb {
    display: flex;
    justify-content: space-between;
  }

  .mobile_signin {
    padding: 13px 16px;
  }

  .dashboard_container {
    padding: 12px 16px;
  }

  .dashboard_score {
    margin-top: 32px;
  }

  .dashboard_heading {
    margin-top: 40px;
    font-size: 24px;
    text-align: center;
  }

  .dashboard_sub_heading {
    font-size: 24px;
    text-align: center;
  }

  .dashboard_content {
    font-size: 14px;
    text-align: center;
  }

  .dashboard_header {
    display: none;
  }

}

@media screen and (min-width: 480px) {
  .button_space_container {
    height: calc(100vh - 220px);
  }

  header {
    z-index: 1;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: white;
  }

  .mobile-frame {
    border-radius: 36px;
    border: 16px solid #000;
    overflow: auto;
    margin: 90px auto 0 auto;
    max-width: 375px;
    height: 700px;
  }

  .mobile_view {
    display: none
  }

  ::-webkit-scrollbar {
    width: 4px;
    height: 4px;
    background-color: transparent;
  }

  ::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: #a3a9b6;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #737373;
  }

  .form_wrapper {
    display: flex;
    gap: 30px;
    justify-content: space-between;
    padding-left: 60px;
    min-height: calc(100vh - 80px);
    align-items: end;
    overflow: auto;
    margin-top: 80px;
  }

  .mobile_frame {
    width: 45%;
  }

  .form_container {
    width: 80%;
  }

  .color_selection {
    width: 42px;
    height: 42px;
  }

  .home_wrapper {
    padding: 81px 40px;
  }

  .left_arrow {
    display: none;
  }

  .desktop_breadcrumb {
    display: flex;
  }

  .mobile_breadcrumb {
    display: none;
  }

  .dashboard_container {
    padding: 24px 80px;
  }

  .dashboard_score {
    display: flex;
    justify-content: end;
  }

  .desktop_home_content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .dashboard_heading {
    font-size: 64px;
  }

  .dashboard_sub_heading {
    font-size: 32px;
  }

  .dashboard_content {
    font-size: 18px;
  }

  .mobile_signin {
    display: none
  }

  .dashboard_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }
}

button:disabled {
  background-color: #BFBFBF;
  color: #595959;
  cursor: not-allowed;
}

.dashboard_heading {
  color: #4C4C4C;
  font-weight: 700;
}

.dashboard_sub_heading {
  color: #4C4C4C;
  font-weight: 700;
}