@tailwind base;
@tailwind components;
@tailwind utilities;

/* Regular */
@font-face {
  font-family: 'Intro';
  src: url('./Assets/Font/IntroRegular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* Bold */
@font-face {
  font-family: 'Intro';
  src: url('./Assets/Font/Intro-Bold.otf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

/* bold */
@font-face {
  font-family: 'Intro';
  src: url('./Assets/Font/IntroSemiBold.ttf') format('truetype');
  font-weight: 600;
  /* 600 is commonly used for bold */
  font-style: normal;
}
@font-face {
  font-family: 'Intro';
  src: url('./Assets/Font/IntroRegularItalic.ttf') format('truetype');
    font-weight: normal;
    /* 600 is commonly used for bold */
    font-style: italic;
}

* {
  font-family: 'Intro';
}

ul {
  list-style-image: url('./Assets/check.svg');
  padding-left: 25px !important;
}

p {
  font-size: 14px
}